@import './utils/vars';
@import './utils/mixins';
@import './utils/browser-styles-reset';
@import './components/common';
@import './components/container';
@import './components/header';
@import './components/hero';
@import './components/favorite';
@import './components/favorite-cocktails';
@import './components/favorite-ingredients';
@import './components/modal-cocktails';
@import './components/modal-ingredients';
