<section class="favorite-ingredients">
  <div class="container">
    <h3 class="fav-ingred__title">Favorite ingredients</h3>
    <ul class="fav-ingred__list list">
      <li class="fav-ingred__item">
        <div class="fav-ingred__box">
          <div class="fav-ingred__figcaption">
            <h3 class="fav-ingred__figcaption--coctail">Campari</h3>
            <p class="fav-ingred--name">Liqueur</p>
            <div class="fav-ingred__figcaption--buttons">
              <button class="fav-ingred__figcaption--info">Learn more</button>
              <button
                class="fav-ingred__figcaption--storage"
                data-add="localStorage"
              >
                Remove
                <svg
                  class="fav-ingred__figcaption--icon"
                  width="21"
                  height="19"
                >
                  <use href="./images/icons.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="fav-ingred__item">
        <div class="fav-ingred__box">
          <div class="fav-ingred__figcaption">
            <h3 class="fav-ingred__figcaption--coctail">Blanco tequila</h3>
            <p class="fav-ingred--name">Distilled beverage</p>
            <div class="fav-ingred__figcaption--buttons">
              <button class="fav-ingred__figcaption--info">Learn more</button>
              <button class="fav-ingred__figcaption--storage">
                Remove
                <svg
                  class="fav-ingred__figcaption--icon"
                  width="21"
                  height="19"
                >
                  <use href="./images/icons.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="fav-ingred__item">
        <div class="fav-ingred__box">
          <div class="fav-ingred__figcaption">
            <h3 class="fav-ingred__figcaption--coctail">Vermouth</h3>
            <p class="fav-ingred--name">Fortified wine</p>
            <div class="fav-ingred__figcaption--buttons">
              <button class="fav-ingred__figcaption--info">Learn more</button>
              <button class="fav-ingred__figcaption--storage">
                Remove
                <svg
                  class="fav-ingred__figcaption--icon"
                  width="21"
                  height="19"
                >
                  <use href="./images/icons.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <p class="fav-ingred__text is-hidden">
      You haven't added any favorite ingredients yet
    </p>
  </div>
</section>
