<section class="gallery">
  <h2 class="gallery__title">Cocktails</h2>
  <ul class="gallery__list">
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button
              class="gallery__figcaption--storage"
              data-add="localStorage"
            >
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button class="gallery__figcaption--storage">
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button class="gallery__figcaption--storage">
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button class="gallery__figcaption--storage">
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button class="gallery__figcaption--storage">
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="gallery__item">
      <div class="gallery__box">
        <img
          class="container gallery__picture"
          src="./images/test-cockt-1x-desk.jpg"
          alt="coctail foto"
        />
        <div class="gallery__figcaption">
          <h3 class="gallery__figcaption--coctail">Negroni</h3>
          <div class="gallery__figcaption--buttons">
            <button class="gallery__figcaption--info">Learn more</button>
            <button class="gallery__figcaption--storage">
              Add to
              <svg class="gallery__figcaption--icon">
                <use href="./images/icons.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
