<div class="cocktails-backdrop is-hidden" data-modal-backdrop>
    <div class="modal-cocktails">
      <button type="button" class="modal-cocktails__close" data-modal-close-cocktails>
        <svg class="button-icon" width="18px" height="18px">
          <use href="./images/icons.svg#icon-cross-close"></use>
        </svg>
      </button>
      <img src="#" alt="cocktail photo" class="cocktail__photo" width="280px"/>
      <div class="cocktail-ingredients">
      <h4 class="cocktail__title"></h4>
      <h5 class="ingridients__title">INGREDIENTS</h5>
      <p class="ingredients__descr">Per cocktail</p>
      <ul class="ingredients-list list">
      </ul>
      </div>
      <div class="cocktail-instraction">
      <h5 class="instraction__title">INSTRACTIONS:</h5>
      <p class="instraction__descr"></p>
      <button type="button" class="modal-cocktails__add">Add to favorite</button>
      </div>
    </div>
  </div>