<div class="cocktails-backdrop is-hidden" data-modal-backdrop>
    <div class="modal-cocktails">
      <button type="button" class="modal-cocktails__close" data-modal-close-cocktails>
        <svg class="button-icon" width="18px" height="18px">
          <use href="./images/icons.svg#icon-cross-close"></use>
        </svg>
      </button>
      <img src="./images/test-cockt-1x-desk.jpg" alt="cocktail photo" class="cocktail__photo" width="280px"/>
      <div class="cocktail-ingredients">
      <h4 class="cocktail__title">Negroni</h4>
      <h5 class="ingridients__title">INGREDIENTS</h5>
      <p class="ingredients__descr">Per cocktail</p>
      <ul class="ingredients-list list">
      <li class="ingredients__item"><a href="#" class="ingredients__link"><span class="ingred__symbol">&#10038</span> Ice</a></li>
      <li class="ingredients__item"><a href="#" class="ingredients__link"><span class="ingred__symbol">&#10038</span> 1 ounce gin</a></li>
      <li class="ingredients__item"><a href="#" class="ingredients__link"><span class="ingred__symbol">&#10038</span> 1 ounce Campari</a></li>
      <li class="ingredients__item"><a href="#" class="ingredients__link"><span class="ingred__symbol">&#10038</span> 1 ounce sweet vermouth</a></li>
      <li class="ingredients__item"><a href="#" class="ingredients__link"><span class="ingred__symbol">&#10038</span> Garnish: orange peel</a></li>
      </ul>
      </div>
      <div class="cocktail-instraction">
      <h5 class="instraction__title">INSTRACTIONS:</h5>
      <p class="instraction__descr">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
      <button type="button" class="modal-cocktails__add">Add to favorite</button>
      </div>
    </div>
  </div>