<div class="backdrop is-hidden" data-modal>
  <div class="modal_ingred">
    <button type="button" class="modal-ingred_close" data-modal-close>
      <svg class="modal-close_icon" width="32" height="32">
        <use href="./images/icons.svg#icon-cross-close"></use>
      </svg>
    </button>
    <h3 class="ingred_name">Campari</h3>
    <p class="ingred_type">Liqueur</p>
    <div class="border"></div>
    <p class="ingred_info">
      <span class="ingred_bold">Campari</span> is an Italian alcoholic liqueur,
      considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on
      the country in which it is sold), obtained from the infusion of herbs and
      fruit (including chinotto and cascarilla) in alcohol and water. It is a
      bitters, characterised by its dark red colour.
    </p>
    <ul class="ingred_list list">
      <li class="ingred__item">Type: Bitters</li>
      <li class="ingred__item">Country of origin: Italy</li>
      <li class="ingred__item">Alcohol by volume: 20.5-28.5%</li>
      <li class="ingred__item">Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button type="submit" class="favorite_btn">Add to favorite</button>
  </div>
</div>
