.page {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

footer {
  height: 110px;
  width: 100%;
  background-color: $orange;
}

button {
  cursor: pointer;
}