.fav-ingred__title {
  @include font(600, 22px, calc(42 / 22));
  color: var(--black);
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include tablet {
    @include font(700, 32px, calc(38 / 32));
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    @include font(700, 48px, calc(72 / 48));
    text-align: center;
    margin-top: 69px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fav-ingred__text {
  @include font(400, 20px, calc(60 / 20));
  color: var(--black);
  text-align: center;
  max-width: 239px;
  padding-bottom: 232px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    @include font(400, 24px, calc(60 / 24));
    max-width: 296px;
    text-align: center;
    padding-bottom: 633px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    @include font(400, 32px, calc(72 / 32));
    max-width: 385px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 472px;
  }
}

// .fav-ingred--name {
//   margin-top: 20px;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 1.5;
//   text-transform: uppercase;
//   color: $black;
//   @include tablet {
//     font-size: 16px;
//     line-height: 1.5;
//     color: $grey;
//     margin-top: 28px;
//   }
//   @include desktop {
//     font-size: 16px;
//     line-height: 1.5;
//     color: $grey;
//     margin-top: 28px;
//   }
// }

// .fav-ingred__list {
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 32px;
//   margin-top: 0;
//   margin-bottom: 0;
//   line-height: 0;
//   justify-content: center;

//   margin-top: 60px;

//   @include tablet {
//     justify-content: flex-start;
//   }
//   @include desktop {
//     justify-content: flex-start;
//   }
// }

// .fav-ingred__item {
//   flex-basis: calc((100% - 2 * 30px) / 3);

//   @include tablet {
//     flex-basis: calc((100% - 5 * 30px) / 6);
//   }
//   @include desktop {
//     flex-basis: calc((100% - 8 * 30px) / 9);
//   }
// }

// .fav-ingred__box {
//   border: 1px solid $accent-color-hover;
//   border-radius: 4px;
// }

// .fav-ingred__figcaption {
//   padding: 20px;

//   @include tablet {
//     padding: 20px;
//   }
//   @include desktop {
//     padding: 30px 28px 26px 28px;
//   }
// }

// .fav-ingred__figcaption--coctail {
//   font-family: 'Roboto';
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.61;
//   color: $black;
//   margin-bottom: 27px;
//   @include tablet {
//     font-size: 28px;
//     line-height: 1.17;
//   }
//   @include desktop {
//     font-size: 32px;
//     line-height: 1.18;
//   }
// }

// .fav-ingred__figcaption--buttons {
//   margin-top: 20px;
//   display: flex;
//   justify-content: center;
//   gap: 12px;
//   @include tablet {
//     gap: 12px;
//     margin-top: 28px;
//   }
//   @include desktop {
//     gap: 16px;
//     margin-top: 28px;
//   }
// }

// .fav-ingred__figcaption--info {
//   font-family: 'Roboto';

//   letter-spacing: 0.02em;
//   color: $basic-white-text;
//   background: $accent-color;
//   border-radius: 4px;
//   border: none;
//   width: 108px;
//   height: 39px;
//   font-size: 14px;
//   line-height: 1.71;
//   @include tablet {
//     width: 160px;
//     height: 48px;
//     font-size: 20px;
//     line-height: 1.2;
//   }
//   @include desktop {
//     width: 182px;
//     height: 48px;
//     font-size: 20px;
//     line-height: 1.2;
//   }
//   &:hover,
//   &:focus {
//     background-color: $accent-color-hover;
//   }
// }

// .fav-ingred__figcaption--storage {
//   font-family: 'Roboto';
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.02em;
//   border: 2px solid $orange;
//   border-radius: 4px;
//   color: $orange;
//   background: #fcfcfc;
//   justify-content: center;
//   text-align: center;

//   width: 110px;
//   height: 39px;

//   @include tablet {
//     font-size: 20px;
//     line-height: 1.2;
//     letter-spacing: 0.02em;
//     width: 123px;
//     height: 48px;
//   }
//   @include desktop {
//     font-size: 20px;
//     line-height: 1.2;
//     letter-spacing: 0.02em;
//     width: 141px;
//     height: 48px;
//   }
// }

// .fav-ingred__figcaption--icon {
//   width: 19px;
//   height: 17px;
//   @include tablet {
//     width: 21px;
//     height: 19px;
//   }
//   @include desktop {
//     width: 21px;
//     height: 19px;
//   }
// }
