.favorite-cocktails {
  @include mobileSmall {
    width: 100%;
  }

  @include tablet {
    width: 100vw;
  }

  @include desktop {
    max-width: 1900px;
  }
}

.favorite-cocktails__title {
  @include mobile {
   @include font (600, 22px, calc(42 / 22));
   margin-bottom: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
  @include tablet {
    @include font (700, 32px, calc(28 / 32));
    text-align: center;
    margin-top: 68px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    @include font (700, 48px, calc(72 / 48));
    text-align: center;
    margin-top: 69px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  }

.favorite-cocktails__text {
  @include mobile {
    @include font (400, 20px, calc(60 / 20));
    text-align: center;
    max-width: 239px;
    padding-bottom: 232px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;


  }
  @include tablet {
    @include font (400, 24px, calc(60 / 24));
    max-width: 296px;
    text-align: center;
    padding-bottom: 633px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    @include font(400, 32px, calc(72 / 32));
    max-width: 385px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 472px;
  }
  }