.favorite-cocktails {
  @include mobileSmall {
    width: 100%;
  }

  @include tablet {
    width: 100vw;
  }

  @include desktop {
    max-width: 1900px;
  }
}

.favorite-cocktails__title {
  text-align: center;
  margin-top: 69px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.favorite-cocktails__text {
  // @include font {

  // }
  max-width: 385px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}