.header__reset-link {
  text-decoration: none;
}
.header__current {
  color: $orange;
}

.header__wrapper {
  padding-top: 20px;

  display: flex;

  align-items: center;
  justify-content: space-between;
  @include tablet {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.header__nav {
  //   display: flex;

  //   align-items: center;
  //   justify-content: space-between;
  //   gap: auto;
  @include tablet {
    margin-right: 190px;
  }
  @include desktop {
    display: flex;
    gap: 43px;
    margin-right: 250px;
  }
}

.logo img {
  width: 123px;
  height: auto;
  @include tablet {
    width: 156px;
    height: 43px;
  }
  @include desktop {
    width: 156px;
    height: 43px;
  }
}
.header__burger-wrapper {
  @include desktop {
    display: none;
  }
}
.header__burger-menu {
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__burger-menu__icon {
  width: 30px;
  height: 16px;
}
.nav__list {
  display: none;
  @include desktop {
    display: flex;
    gap: 60px;
    align-items: end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Black */

    color: $black;
  }
}
.nav__list .header__reset-link:link,
.nav__list .header__reset-link:visited {
  color: $black;
}
.header__form--wrapper {
  display: none;
  @include tablet {
    display: block;
    margin-right: 40px;
  }
  @include desktop {
    display: block;
    margin-right: 172px;
  }
}

.header__form--search {
  border: 1px solid $orange;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  //   margin-right: 172px;
  display: flex;
  align-items: center;
}
.header__form--button {
  text-align: center;
  border: none;
  background-color: inherit;
  padding: 8px;
}
.header__form-button-icon {
  width: 24px;
  height: 24px;
  fill: $orange;
}
.header__form-input {
  outline: none;
  height: 40px;
  width: 248px;
  border: none;
  border-left: $orange solid;
  background-color: inherit;
  padding: 8px 8px 8px 8px;
}

.header__form-input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: $grey;

  opacity: 0.4;
}

// -----dropdown-----//

.dropdown {
  display: inline-block;
  //   display: flex;
  position: relative;
  //   flex-direction: column;
  //   gap: 50px;
}
.dropdown .header__reset-link {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  //   top: 32px;
  width: 210px;
  overflow: auto;
  padding-top: 10px;
}
.dropdown-content__wrapper {
  border: 1px solid $orange;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 0 12px 12px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.02em;
}
.dropdown-content a:hover {
  color: white-modal-text;
  background-color: $orange;
}

.theme__list {
  display: none;
  @include desktop {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $grey;
  }
}
// --------header__switch------
.header__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The header__header__slider */
.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white-modal-text;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1.5px;
  background-color: $orange;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .header__slider {
  background-color: $orange;
}

input + .header__slider {
  //   box-shadow: 0 0 1px #000000;
  border: 0.604701px solid $orange;
  border-radius: 20px;
}

input:checked + .header__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $white-modal-text;
  border: 0.604701px solid $white-modal-text;
}

.header__slider.header__round:before {
  border-radius: 50%;
}
// mobileMenu
.header__mobile-menu {
  display: none;
}
.header__mobile-menu-is-open {
  overflow: hidden;
  position: absolute;
}
