body {
  background-color: var(--white-modal-text);
}
.header__reset-link {
  text-decoration: none;
}
.header__current {
  color: $orange;
}

.header__wrapper {
  padding-top: 20px;

  display: flex;

  align-items: center;
  justify-content: space-between;
  @include tablet {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.header__nav {
  //   display: flex;

  //   align-items: center;
  //   justify-content: space-between;
  //   gap: auto;
  @include tablet {
    margin-right: 190px;
  }
  @include desktop {
    display: flex;
    gap: 43px;
    margin-right: 250px;
  }
}

.logo img {
  width: 123px;
  height: auto;
  @include tablet {
    width: 156px;
    height: 43px;
  }
  @include desktop {
    width: 156px;
    height: 43px;
  }
}
.header__burger-wrapper {
  //   position: relative;
  @include desktop {
    display: none;
  }
}
.header__burger-menu {
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__burger-menu__icon {
  width: 30px;
  height: 16px;
}
.nav__list {
  display: none;
  @include desktop {
    display: flex;
    gap: 60px;
    align-items: end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    color: var(--black);
  }
}
.nav__list .header__reset-link:link,
.nav__list .header__reset-link:visited {
  color: var(--black);
}

// --------- search---------
.header__form--wrapper {
  display: none;
  @include tablet {
    display: block;
    margin-right: 40px;
  }
  @include desktop {
    display: block;
    margin-right: 172px;
  }
}

.header__form--search {
  border: 1px solid $orange;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  //   margin-right: 172px;
  display: flex;
  align-items: center;
}
.header__form--button {
  text-align: center;
  border: none;
  background-color: inherit;
  padding: 8px;
}
.header__form-button-icon {
  width: 24px;
  height: 24px;
  fill: $orange;
}
.header__form-input {
  outline: none;
  height: 40px;
  width: 248px;
  border: none;
  border-left: 1px solid $orange;
  background-color: inherit;
  padding: 8px 8px 8px 8px;
  color: var(--black);
}

.header__form-input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: $grey;

  opacity: 0.4;
}

// -----dropdown-----//

.header__dropdown {
  display: inline-block;
  //   display: flex;
  position: relative;
  //   flex-direction: column;
  //   gap: 50px;
}
.header__dropdown .header__reset-link {
  display: block;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  //   top: 32px;
  width: 210px;
  overflow: auto;
  padding-top: 10px;
}
.header__dropdown-content__wrapper {
  border: 1px solid $orange;
  border-radius: 8px;
}

.header__dropdown:hover .header__dropdown-content {
  display: block;
}
.header__dropdown-content a {
  display: block;

  color: var(--black);
  padding: 12px 0 12px 12px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.02em;
}
.header__dropdown-content a:hover {
  color: $white-modal-text;
  background-color: $orange;
}
.theme__wrapper {
  display: none;
  @include desktop {
    display: block;
  }
}
.theme__list {
  //   display: none;
  @include desktop {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    //------theme------//
    color: var(--grey-theme);
  }
}

.header__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white-modal-text;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1.5px;
  background-color: $orange;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .header__slider {
  background-color: $orange;
}

input + .header__slider {
  border: 0.604701px solid $orange;
  border-radius: 20px;
}

input:checked + .header__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $white-modal-text;
  border: 0.604701px solid $white-modal-text;
}

.header__slider.header__round:before {
  border-radius: 50%;
}
// -----------mobileMenu------//

.header__mobile-menu {
  display: none;
}
.header__mobile-menu-is-open {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;

  // background-color: $black-modal;
  background-color: var(--white-modal-text);
  overflow: hidden;
  padding-top: 20px;
}
.mobile-mebu___wraper-up-section .logo {
  display: none;
  @include tablet {
    position: absolute;
    left: 20px;
    top: 18px;
    display: block;
  }
}
.mobile-mebu___wraper-up-section {
  height: 70px;
  margin-bottom: 50px;
  @include tablet {
    position: relative;
    // display: flex;
    // align-items: end;
    // gap: 25%;
  }
}

.theme__list-mobile-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--grey-theme);
  @include tablet {
    position: absolute;
    left: 45%;
    top: 33px;
  }
}
.header__mobile-menu-close {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  @include tablet {
    top: 24px;
    right: 16px;
  }
}
.header__mobile-menu-close__icon {
  width: 32px;
  height: 32px;
  // fill: white;
  fill: black;
  // background-color: black;
  background-color: white;
}
.header__mobile-menu-nav__list {
  // color: white;

  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  @include tablet {
    gap: 40px;
  }
}
.header__mobile-menu-nav__list .header__reset-link:link,
.header__mobile-menu-nav__list .header__reset-link:visited {
  color: black;
}
.header__mobile-menu-nav-list__item {
  width: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  /* identical to box height, or 86% */

  letter-spacing: 0.02em;

  color: $black-modal;
  @include tablet {
    margin-left: 45%;
  }
}
.header__mobile-menu-dropdown {
  display: flex;
  gap: 8px;

  position: relative;
}

.header__mobile-menu-dropdown-content {
  display: none;
  position: absolute;
  top: 32px;
  width: 210px;
  overflow: auto;
  padding-top: 10px;
}
.mobile-menu-dropdown-content-is-open {
  display: block;
}
.header__mobile-menu-dropdown-content__wrapper {
  border: 1px solid $orange;
  border-radius: 8px;
}

.header__mobile-menu-dropdown-content a {
  display: block;
  color: black;
  padding: 12px 0 12px 12px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.02em;
}
.header__mobile-menu-dropdown-content a:active {
  color: $white-modal-text;
  background-color: $orange;
}

// -------mobile-menu-search
.header__mobile-menu-form--wrapper {
  margin-bottom: 40px;
  @include tablet {
    display: none;
  }
}
.header__mobile-menu-form--search {
  border: 1px solid $orange;
  border-radius: 4px;
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
}
.header__mobile-menu-form--button {
  text-align: center;
  border: none;
  background-color: inherit;
  padding: 8px;
}

.header__mobile-menu-form-input {
  outline: none;
  height: 40px;
  width: 240px;
  border: none;
  border-left: 1px solid $orange;
  background-color: inherit;
  padding: 8px 8px 8px 8px;
}
.mobile-menu-dropdown__btn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
}
.mobile-menu-dropdown__icon {
  width: 24px;
  height: 24px;
}

// test color

// .light {
//   background-color: white;
//   color: black;
// }
// .dark {
//   background-color: black;
//   color: white;
// }

// theme style
// html.light .nav__list {
//   color: var(--black);
// }
// html.dark .nav__list {
//   color: $white-modal-text;
// }

// html.light .nav__list .header__reset-link:link,
// html.light .nav__list .header__reset-link:visited {
//   color: $black;
// }

// html.dark .nav__list .header__reset-link:link,
// html.dark .nav__list .header__reset-link:visited {
//   color: $white-modal-text;
// }
// html.light .header__dropdown-content a {
//   color: $black;
// }

// html.light .header__dropdown-content a:hover {
//   color: $white-modal-text;
// }
// html.dark .header__dropdown-content a {
//   color: $white-modal-text;
// }
// html.light .theme__list {
//   color: $grey;
// }
// html.dark .theme__list {
//   color: $white-modal-text;
// }
