.gallerry__title-main-wrepper {
  display: flex;
  justify-content: center;
}

.gallery__title {
  margin-bottom: 44px;
  text-align: center;
  color: var(--black);
  margin-bottom: 60px;

  @media screen and (max-width: 767px) {
    max-width: 260px;
    margin: 0;
    
    text-align: center;
    
    font-weight: 600;
    font-size: 22px;
    line-height: 1.91;
  }
  @include tablet {
    max-width: 330px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
  }
  @media screen and (min-width: 1200px) {
    max-width: 500px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.5;
  }
}

.section-pagination {
  padding-bottom: 62px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.pagination__btn {
  margin-top: 32px;

  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  padding: 0;

  border-radius: 4px;
  border: 1px solid $basic-white;
  outline: transparent;

  background: transparent;
  color: $accent-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.pagination__btn--prev,
.pagination__btn--next {
  margin-top: 32px;

  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 40px;
  }

  border-radius: 4px;
  border: 1px solid $basic-white;
  outline: transparent;

  background: transparent;
  color: $accent-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.pagination__btn--active {
  background-color: $accent-color;
  color: $basic-white;
  border: none;
}

footer {
  height: 110px;
  background-color: $orange;
}
