.section-pagination{
padding-bottom: 62px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.pagination__btn {
    
    @media screen and (max-width: 767px) {
      width: 32px;
      height: 32px;
    }
    @media screen and (min-width: 768px){
    
        width: 40px;
        height: 40px;
    }
    

  padding: 0;

  border-radius: 4px;
  border: 1px solid $basic-white;
  outline: transparent;

  background: transparent;
  color: $accent-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.pagination__btn--prev,
.pagination__btn--next {
    @media screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
      }
      @media screen and (min-width: 768px){
      
          width: 60px;
          height: 40px;
      }
      

  border-radius: 4px;
  border: 1px solid $basic-white;
  outline: transparent;

  background: transparent;
  color: $accent-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.pagination__btn--active {
  background-color: $accent-color;
  color: $basic-white;
  border: none;
}
